/*GENERAL CSS*/

@font-face {
    font-family: Custom;
    font-style: normal;
    font-weight: 100;
    src:
            local('Roboto Thin'),
            local('Roboto-Thin'),
            local('sans-serif-thin'),
            url('../fonts/Roboto-Thin.ttf') format('ttf');
    /*unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;*/
}

body{
    background: #241023!important;
    font-family: Custom !important;
}

#logoutIcon{
    text-align: right;
    position: absolute;
    right: 0;
    font-size: 35px;
    top: 0;
}

.customInputs{
    background-color: transparent;
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid #ff8800;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
}

.customInputs:focus{
    outline: none;
}

.customLbls{
    color: #eae8ff;
    position: relative;
    font-size: 160%;
    padding:0;
}

/*INDEX(LOGIN) CSS */
#logo {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: flex-end;
}

#loopracLogoDiv{
    display: flex;
    justify-content: center;
    height: 135px;
    align-items: flex-end;
}

.loginDiv{
    margin: 5px 0 10px 0;
    width: 256px;
    height: 35px;
    position: relative;
    top: 82px;
}

.loginBtnDiv{
    position: relative;
    top: 50px;
}

#loginBtn{
    border-radius: 5px;
    border-color: #ff8800;
    color: #ff8800;
    background-color:transparent;
    padding: 5px 10px 5px 10px;
    margin-left: 6%;
}
.loginBtns {
    position: relative;
    top: 60px;
    width: 47%!important;
    height: 100%;
    font-size: 114% !important;
}

#registerBtn{
    border-radius: 5px;
    border-color: #eae8ff;
    color: #eae8ff;
    background-color:transparent;
    padding: 5px 10px 5px 10px;
}

/*REGISTER CSS*/
#registerHeaderDiv{
    display: flex;
    justify-content: center;
    height: 104%;
    align-items: center;
}
.registerH1{
    color: #ff8800;
    font-size: 500%;
}

#registerDiv{
    position: relative;
    display: flex;
    justify-content: center;
    height: 104%;
    flex-wrap: wrap;
    align-items: center;
}
.registerBtnsDiv{
    display: flex;
    justify-content: space-between;
    height: 33px;
    align-items: center;
}

#cancelBtn{
    border-radius: 5px;
    border-color: #eae8ff;
    color: #eae8ff;
    background-color:transparent;
    padding: 5px 10px 5px 10px;
}

#registrationBtn{
    border-radius: 5px;
    border-color: #ff8800;
    color: #ff8800;
    background-color:transparent;
    padding: 5px 10px 5px 10px;
    margin-left: 6%;
}

.registerBtns{
    position: relative;
    width: 44%!important;
    height: 100%;
    font-size:114%;
}

/* OFFER LIFT PAGE */
#offerLiftDiv{
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    flex-wrap: wrap;
    font-size: 93%;
    font-family: 'Roboto-Light', sans-serif;
}

#liftTypeInput{
    position: relative;
    left: 0;
    width: 37%;
    height: 35px;
    border-radius: 7px;
    outline:none;
}

#liftTypeLbl{
    position:relative;
    right:17px;
}

#seatsLbl{
    position: relative;
    right:17px;
}
#seatsInput{
    position: relative;
}

.departInputs{
    background-color: transparent;
    color: #ff8800;
    height: 40px !important;
    margin: auto;
    padding: 0 0 0 0;
    text-align: center;
    border-radius: 6px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ff8800;
}

.departInputs:focus{
    outline: none;
}

.dropdownInputs{
    position: relative;
    width: 49% !important;
    height: 40px !important;
    margin: auto;
    text-align: center;
    border-radius: 6px;
    outline: none;
}

.dropdownInputs:focus{
    outline: none;
}

.offerLiftBtns{
    position: relative;
    top: 60px;
    width: 43%!important;
    height: 100%;
    font-size: 114% !important;
}

#offerLiftBtn{
    border-radius: 5px;
    border-color: #ff8800;
    color: #ff8800;
    background-color:transparent;
    padding: 5px 10px 5px 10px;
    margin-left: 6%;
}

.mapLinks{
    color: #ccfbfe;
    text-align: right;
}

.mapLinks:focus{
    opacity: .9;
    text-decoration: none;
}

#departDateLbl {
    position: relative;
    right: 14px;
}

#departTimeLbl {
    position: relative;
    right: 17px;
}

#loopLogoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapIconLogo{
    max-width: 80px;
    max-height: 90%}

/****************************
    AVAILABLE LIFTS PAGE
 */

#listDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#availableLiftsTbl {
    position: relative;
    justify-content: center;
    align-items: center;
    color: #ff8800;
}

/****************************
    REQUEST LIFT PAGE
 */

#liftDetailsDiv{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#requestLiftBtn{
    border-radius: 5px;
    border-color: #ff8800;
    color: #ff8800;
    background-color:transparent;
    padding: 5px 10px 5px 10px;
}

#cancelRequestBtn{
    border-radius: 5px;
    border-color: #ffffff;
    color: #ffffff;
    background-color:transparent;
    padding: 5px 10px 5px 10px;
}

#requestPageInfinityLoopLogo{
    width:120px;
}

/*******************************
    MAIN PAGE
 ******************************/

#choiceDiv{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ff8800;
    font-size: 35px;
    text-align: center;
}

#mainPageOfferLiftBtn{
    border-radius: 5px;
    border-color: #ff8800;
    color: #ff8800;
    background-color: transparent;
    padding: 5px 10px 5px 10px;
    margin: 0 3px 0 0;
}

#searchLiftBtn{
    border-radius: 5px;
    border-color: #231024;
    color: #231024;
    background-color: #ff8800;
    padding: 5px 10px 5px 10px;
    margin: 0 3px 0 0;
}

#map-canvas{
    top: 60px;
    bottom: 36px;
    right: 0;
    left:0;
    position: absolute;
}

#hamburgerMenuIcon{
    position: relative;
    color: #ff8800;
    font-size: 35px;
    text-align: center;
    display: block;
}

/*
    OFFER LIFTS MAPS
 */

.locationBtns{
    bottom: 0;
    background-color: #ff8800;
    color: #231024;
    border-color: #ff8800;
}

.locationBtns:hover{
    opacity: .8;
    background-color: #ff8800;
    color: #231024;
    border-color: #ff8800;
}

.locationBtns:focus{
    opacity: .8;
    background-color: #ff8800;
    color: #231024;
    border-color: #ff8800;
}

.cancelLocationBtns{
    background-color: transparent;
    color: #ff8800;
    border-color: #ff8800;
}

.cancelLocationBtns:hover{
    opacity: .8;
    background-color: transparent;
    color: #ff8800;
    border-color: #ff8800;
}

.cancelLocationBtns:focus{
    opacity: .8;
    background-color: transparent;
    color: #ff8800;
    border-color: #ff8800;
}

.locationDivs{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#liftDetailsForm{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 100px;
    right: 0;
    color: #ff8800;
}

#lift-map-canvas{
    top: 0;
    bottom: 393px;
    right: 0;
    left:0;
    position: absolute;
}

.liftDetailsInput{
    font-size: 12px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    text-align: left;
}

.liftDetailsLabels{
    text-align: left;
    color: #ff8800;
}

.seatDetails{
    text-align: center;
    color: #ff8800;
}

.seatDetailsInput{
    text-align: center;
    font-size: 40px;
    background-color: transparent;
    outline: none;
    border: none;
}

#liftDetailsSeatsDiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#subLiftReqBtn{
    background-color: #ff8800;
    border-color: #ff8800;
    color: #231024;
}

#subLiftReqBtn:focus{
    background-color: #ff8800;
    border-color: #ff8800;
}

#liftDetailsBtnDiv{
    position: fixed;
    bottom: 0;
    right: 0;
}

.liftDetailsBtns{
    position: relative;
    top:0;
}

/******************
side nav bar: gotten from w3schools.com
 */

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #231024;
    color: #ff8800;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*MY REQUESTS */

#myRequestMap-Canvas{
    top: 60px;
    bottom: 360px;
    right: 0;
    left: 0;
    position: absolute;
}


.requestsTabs{
    color: #ff8800;
}

.myHeaders{
    color: #ff8800;
}

#acceptReqBtn{
    background-color: #ff8800;
    color: #231024;
    outline: none;
    border-color: #ff8800;
}

#acceptReqBtn:active{
    background-color: #23ff10;
    border-color: #23ff10;
    color: #ffffff;
}

#denyReqBtn{
    background-color: #ff1a1e;
    color: #ffffff;
    border: 1px solid #ff1a1e;
}


/*MY GROUPS*/

#myGroup-map-canvas{
    top: 0;
    bottom: 444px;
    right: 0;
    left:0;
    position: absolute;
}

#groupDetailsDiv{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    right: 0;
    color: #ff8800;
    overflow: visible;
}

#groupDetailsInnerDiv{
    position: absolute;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    right: 0;
    color: #ff8800;
    overflow: auto;
    max-height: 438px;
}

/*MY LIFTS*/
#startLiftBtn{
    position: relative;
    background: #ff8800;
    border-color: #ff8800;
    border-radius: 8px;
    color: #ffffff;
    width: 100%;
    height: auto;
    font-size: 34px;
}

#beginLiftBtnDiv{
    position: absolute;
    top: 164px;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
}
#myLift-map-canvas{
    top: 0;
    bottom: 444px;
    right: 0;
    left:0;
    position: absolute;
    display: block;
}

#myLiftDetailsDiv{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    right: 0;
    color: #ff8800;
    overflow: visible;
}

#myLiftDetailsInnerDiv {
    position: absolute;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    right: 0;
    color: #ff8800;
    overflow: auto;
    max-height: 438px;
}

#tableDiv{
    margin: 0 auto;
    width: 90%;
    max-height: 60%;
    overflow: scroll;
}

#myLiftDetailsCancelBtn{
    border-radius: 5px;
    border-color: #eae8ff;
    color: #eae8ff;
    background-color:transparent;
    padding: 5px 10px 5px 10px;
}

#deleteLiftBtn {
    background: #ff0a10;
    color: #ffffff;
    border: 1px solid #ff0a10;
    border-radius: 5px;
    font-size: 18px;
}

#deleteLiftBtn:active{
    opacity: .8;
    outline:none;
}

#deleteLiftBtn:focus{
    opacity: .8;
    outline:none;
}

/***********************
    ACTIVE LIFTS
 */

#map{
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    position: absolute;
    display: block;
}

#activeLiftBtnDiv{
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
}

#activeLiftCancelBtn{
    position: relative;
    border-radius: 5px;
    border-color: #eae8ff;
    color: #eae8ff;
    background-color:#231024;
    padding: 5px 10px 5px 10px;
}

#groupJourneyMainDiv{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    right: 0;
    color: #ff8800;
    overflow: visible;
}

#groupJourneyInnerDiv{
    position: relative;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    right: 0;
    color: #ff8800;
    overflow: auto;
    max-height: 438px;
 }

.liftActiveBtn{
    background-color: #4cae4c !important;
    color: #ffffff !important;
    border-color: #4cae4c !important;
    outline: #4cae4c !important;
}

/***************
    RATING PAGE
 */

#submitRatingsBtn {
    background-color: transparent;
    color: #ff8800;
    border: 1px solid #ff8800;
    border-radius: 5px;
    outline: none;
}

/**********************
    EXPERIENCE
 */

#experienceBtnDiv{
    position: absolute;
    bottom: 0;
    left: 0;
}

#experienceFinishBtn{
    background-color: transparent;
    color: #ff8800;
    border: 1px solid #ff8800;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/****************
    COMPLETED LIFTS
 */

#myCompletedLiftDetailsDiv{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    right: 0;
    color: #ff8800;
    overflow: visible;

}

#myCompletedLiftDetailsInnerDiv {
    position: absolute;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
    bottom: 0;
    right: 0;
    color: #ff8800;
    overflow: auto;
    max-height: 438px;
}

/********************
    PROFILE
*/

.profileLbs{
    color: #ff8800;
    display: block;
    text-align: center;
}

.profileInputs{
    background-color: transparent;
    color: #eae8ff;
    border-color: transparent;
    outline:none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.profileEditedInputs{
    background-color: transparent;
    color: #eae8ff;
    border-color: transparent;
    border-bottom: 1px solid #ff8800;
    outline:none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#profileBtnsDiv{
    position: relative;
    bottom:0;
    left:0;
    right:0;
}

#profileBackBtn{
    background-color: #231024;
    color: #ff8800;
    border: 1px solid #ff8800;
    border-radius: 5px;
    text-align: center;
}

#profileEditBtn{
    background-color: #ff8800;
    color: #231024;
    border: 1px solid #231024;
    border-radius: 5px;
    text-align: center;
}

#saveChangesBtn{
    background-color: #4cae4c;
    color: #ffffff;
    border: 1px solid #4cae4c;
    border-radius: 5px;
    text-align: center;
}

#profileRatingExpDiv{
    text-align:center;
}

#file{
    color: #ff8800;
}

#deleteBtn{
    color: #ffffff;
    background-color: #ff0a10;
    border: 1px solid #ff0a10;
    border-radius: 5px;
    position: relative;
    font-size: 19px;
}

#deleteBtn:active{
    opacity: .8;
    outline:none;
}

#deleteBtn:focus{
    opacity: .8;
    outline:none;
}

/***********************
    LEADERBOARD
 */

#backBtn{
    background-color: #231024;
    color: #eae8ff;
    border: 1px solid #eae8ff;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    width: 85%;
}